#VERSION_NUMBER=2.5.0.3-7
[ambari-2.5.0.3]
name=ambari Version - ambari-2.5.0.3
baseurl={{internal_repo}}/hortonworks/ambari/2.5/centos6/
gpgcheck=1
gpgkey={{internal_repo}}/hortonworks/ambari/2.5/centos6/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
enabled=1
priority=1
