               ________         _________  ______________             _________  
              /        |       /        |  |            |            /        |  
             /         |      /         |  |_______     |           /         |
            /     /|   |     /     /|   |         /     /          /     /|   |  
           /     / |   |    /     / |   |        /     /          /     / |   |
          /     /  |   |   /     /  |   |       /     /          /     /  |   |
         /     /   |   |  /     /   |   |      /     /          /     /___|   |
        /     /    |   | /     /    |   |     /     /          /     _____    |
       /     /     |   |/     /     |   |    /     /______    /     /     |   |
      /     /      |         /      |   |   |             |  /     /      |   |
     /_____/       |________/       |___|   |_____________| /_____/       |___|
     
     