{
  "blueprint" : "{{ blueprint_name }}",
  "config_recommendation_strategy" : "{{ blueprint_config_recommendation_strategy }}",
  "default_password" : "{{ blueprint_default_password }}",
{% if blueprint_security|lower == "mit-kdc" or blueprint_security|lower == "active-directory" %}
  "credentials" : [
    {
      "alias" : "kdc.admin.credential",
      "principal" : "{{ security_options.admin_principal }}/admin@{{ security_options.realm | upper }}",
      "key" : "{{ security_options.admin_password }}",
      "type" : "TEMPORARY"
    }
  ],
  "security" : {
    "type" : "KERBEROS"
  },
{% endif %}

"host_groups" :[
  {
    "name" : "host_group_1",
    "hosts" : [
      { "fqdn" : "myhost-hdp-01" }
    ]
  },
  {
    "name" : "host_group_2",
    "hosts" : [
      { "fqdn" : "myhost-hdp-02" }
    ]
  },
  {
    "name" : "host_group_3",
    "hosts" : [
      { "fqdn" : "myhost-hdp-03" }
    ]
  },

  {
    "name" : "host_group_4",
    "hosts" : [
      { "fqdn" : "myhost-hdp-04" },
      { "fqdn" : "myhost-hdp-05" }
    ]
  }
]
}