#VERSION_NUMBER=2.5.0.3-7
[ambari-repo]
name=ambari - repo
baseurl={{internal_repo}}/hortonworks/ambari/latest/centos6/
gpgcheck=1
gpgkey={{internal_repo}}/hortonworks/ambari/latest/centos6/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
enabled=1
priority=1
