#VERSION_NUMBER=2.6.2.0
[HDP-latest]
name=HDP Version - HDP-latest
baseurl={{internal_repo}}/hortonworks/HDP/latest/centos6/
gpgcheck=1
gpgkey={{internal_repo}}/hortonworks/HDP/latest/centos6/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
enabled=1
priority=1

[HDP-UTILS-1.1.0.21]
name=HDP-UTILS Version - HDP-UTILS-1.1.0.21
baseurl={{internal_repo}}/hortonworks/HDP-UTILS-1.1.0.21/centos6/
gpgcheck=1
gpgkey={{internal_repo}}/hortonworks/HDP-UTILS-1.1.0.21/centos6/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
enabled=1
priority=1
