#VERSION_NUMBER={{ ambari.version }}
[ambari-{{ ambari.version }}]
name=ambari Version - ambari-{{ ambari.version }}
baseurl={{ internal_repo }}/ambari/centos6/2.x/updates/{{ ambari.version }}
gpgcheck=1
gpgkey={{ internal_repo }}/ambari/centos6/2.x/updates/{{ ambari.version }}/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
enabled=1
priority=1